<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrapper">
        <header class="row">
            <a href="#"><img src="../images/logo.png"></a>
        </header>
        <nav>
            <ul class="row">
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Menu</a></li>
                <li><a href="/home">Catering</a></li>
                <li><a href="/home">Pie Gallery</a></li>
                <li><a href="/home">About</a></li>
            </ul>
        </nav>
        <div class="row">
            <article class='col-1'>
                <h2>History</h2>
                <p><img src='../images/merilee.jpg' alt='Pie maker image' class="w250 rounded floatRight">Sometimes great things come from humble beginnings. For Merilee Wilbur, that beginning came in the form of a request from her 8-year-old son, Jake, who needed a snack to take to his chess club meeting. Merilee flipped through her recipe box and pulled out her grandmother's recipe for Chess Pie. Perfect!</p>

                <p>The pie was such a hit with the kids - and their coach - that Merilee started getting requests to bake pies for other occasions: school events, birthdays, even a Pi Day celebration at the local library. Pie in the Sky Bakery was born.</p>
                    
                <p>She got so many orders that her fledgling business soon outgrew her family's kitchen. In 2006, she rented her current location at 34 Main Street, where she and her team of bakers have served up fresh, delicious pies ever since.</p>
            </article>
            <div class='col-2 row'>
                <aside class="sidebar-primary">
                   <h3>
                    <i>Testimonals</i>
                   </h3>
                   <p>
                        Merilee sure knows how to bake! Not a week goes by that I don't stop in for a slice of her cherry pie. They truly are just like Mother used to make.

                        ELTON HIGBEE (AGE 94)
                   </p>
                </aside>
                <aside class="sidebar-secondary">
                    <h3>
                       <i>Pie of the month</i>
                    </h3>
                    <img src='../images/pi-day.jpg' alt='pie image'/>
                </aside>
            </div>
        </div>
        <footer>
                <p>Copyright 2017, Pie in the Sky Bakery &#183; 34 Main Street &#183; Springdale, VT &#183; <a href="tel:802-555-7437">(802) 555-PIES</a></p>
                <p>
                    <a href="http://www.twitter.com" target="_blank"><img src="../images/twitter1.png" alt="Twitter."></a>
                    <a href="http://www.pinterest.com" target="_blank"><img src="../images/pin2.png" alt="Pinterest."></a>
                    <a href="http://www.tumblr.com" target="_blank"><img src="../images/tumblr3.png" alt="Tumblr."></a>
                    <a href="http://www.instagram.com" target="_blank"><img src="../images/insta4.png" alt="Instagram."></a>
                    <a href="http://www.facebook.com" target="_blank"><img src="../images/fb5.png" alt="Facebook."></a>
                </p>
        </footer>
    </div>
</body>
</html>